* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}


.calculator-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black ;
padding: 2rem ;
border: 10px ;
border-color: #ffffff;
border-width: medium;
border-style: none none solid none;
width: 600px;
height: 700px;
}

.calc-buttons {
 background-color: #eba400;
} 

.function-buttons{
    background-color:#f7cc68;
}

#output {
    background-color:#e3ebdf;
grid-column: 2 / 5;
}